body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #13f7ff, #e4fafa); 
}

.container {
    max-width: 850px;
    background: linear-gradient(to right, #e60685, #cf6fa9); 
    margin: 40px auto;
    padding: 40px;
     border-right: 6px solid #ffffff;
     border-top: #ffffff 3px solid;
    border-radius: 10px;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 0, 0, 0.10);
}



header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

.subtitle {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-top: 40px;
}

p, li {
    font-size: 15px;
    color: #ffffff;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1.6;
}
